{% extends 'base.html' %}
{% load form_tags %}


{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Create Department</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Department</button>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger mt-3">
        <strong>Error:</strong> Please correct the following errors:<br>
        {{ form.errors }}
    </div>
    {% endif %}
</div>
{% endblock %}