{% extends 'base.html' %}
{% load form_tags %}


{% block content %}


<div class="container mt-5">
    <h1 class="mb-4">Create Department</h1>
    <form method="post" action="{% url 'create_department' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Department Name</label>
            {{ form.name|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Create Department</button>
    </form>
</div>
{% endblock %}