{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Manager Dashboard</h1>
    <div class="card-body">
        <h5 class="card-title">Name: {{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <!-- Task Section -->
    <h2 class="mb-4">Tasks</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Assignee</th>
                <th scope="col">Status</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.assignee.username }}</td>
                <td>{{ task.get_status_display }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary btn-sm">Edit</a>
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if tasks.has_other_pages %}
    <nav aria-label="Tasks Pagination">
        <ul class="pagination">
            {% if tasks.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?tasks_page={{ tasks.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for i in tasks.paginator.page_range %}
            <li class="page-item {% if tasks.number == i %}active{% endif %}">
                <a class="page-link" href="?tasks_page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if tasks.has_next %}
            <li class="page-item">
                <a class="page-link" href="?tasks_page={{ tasks.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
