<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index'%}">Staff Management Sys</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{% url 'summary_dashboard' %}">Summary Dashboard</a>
            </li>
          {% if request.user.is_authenticated %}
          <!-- Tasks Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'create_task'%}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tasks
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <!-- Department Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'create_department'%}role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Department
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="{% url 'manage_employees'%}" class="nav-link" aria-disabled="false">Staff Management</a>
          </li>
        </ul>
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
       {% else %}
       <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign Up</a>
       <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
       {% endif%}
      </div>
    </div>
  </nav>
